.homeSec {
    margin-top: 12%;
    margin-bottom: 23%;
}

.Title {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;
    background: #212020;

}

#aboutSUB {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: center;
    display: flex;
    color: azure;
    background: #212020;
    padding-top: 1.5%;
}

#betaSUB {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    justify-content: center;
    display: flex;
    color: indianred;
    background: #212020;
}

.line {
    color: white !important;
    justify-self: center !important;
    width: 600px !important;
    max-width: 600px;
    min-width: 400px;
    display: flex;
    background: #212020;
    margin: unset;
    opacity:unset;
    padding: unset;
}

.secList {
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    justify-self: center;
    font-size: 25px;
    color: lightblue !important;
    font-family: 'Nunito Sans', sans-serif;
}

.aboutSec {
    width: 100%;
    height: auto;
    background-color:rgb(50, 50, 50);
    border-top-width: 5px;
    border-top-color: white;
    display: flex;

}

#about {
    font-size: 55px;
    font-family: 'oswald', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;
    padding-top: 2%;
    background-color:rgb(50, 50, 50);
}

#linea {
    color: white !important;
    width: 500px !important;
    max-width: 500px;
    min-width: 500px;
    background-color:rgb(50, 50, 50);
    margin: unset;
    opacity:unset;
    padding: unset;
}

#linee {
    color: white !important;
    width: 500px !important;
    max-width: 500px;
    min-width: 500px;
    background-color:rgb(50, 50, 50);
    margin: unset;
    opacity:unset;
    padding: unset;
}

#aboutPara {
    font-size: 20px;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    font-family: 'Nunito Sans', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;
    background-color:rgb(50, 50, 50);
}

.programmingLangs {
    width: 500px;
    
}



#PRG {
    font-size: 55px;
    font-family: 'oswald', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;
    padding-top: 2%;
    background-color:rgb(50, 50, 50);
}

#projects {
    font-size: 55px;
    font-family: 'oswald', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;
    padding-top: 2%;
    background-color:#212020;
}

#linep {
    color: white !important;
    width: 300px !important;
    max-width: 300px;
    min-width: 300px;
    background-color:rgb(50, 50, 50);
    margin: unset;
    opacity:unset;
    padding: unset;
}


.ProjectsList {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-self: center;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

.EcoProjects {
    width: 100%;
    height: auto;
    background-color: #212020;
}

#abEP {
    font-size: 30px;
    font-family: 'oswald', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    margin-bottom: 2%;
    color: azure;
    padding-top: 2%;
    background-color:#212020;
}

.aboutEPSEC {
    border: 1px;
    border-color: white;
    border-style: solid;
    width: fit-content;
    padding: 2%;
    border-radius: 1vw;
    margin-bottom: 1%;
}


#EPPARA {
    font-size: 20px;
    width: 550px;
    max-width: 550px;
    min-width: 550px;
    font-family: 'Nunito Sans', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;
}

.bottomEP {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}


.Websites {
    width: 100%;
    height: auto;
    background-color: #212020;
}

#WBPara {
    font-size: 20px;
    width: 650px;
    max-width: 650px;
    min-width: 650px;
    font-family: 'Nunito Sans', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;    
}


#contacts {
    font-size: 55px;
    font-family: 'oswald', sans-serif;
    justify-self: center;
    justify-content: center;
    display: flex;
    color: azure;
    padding-top: 2%;
    background-color: rgb(50, 50, 50);
}

#contactpara {
    font-size: 20px;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    font-family: 'Nunito Sans', sans-serif;
    display: inline;
    color: azure;
    background-color: rgb(50, 50, 50);    
}

#linec {
    color: white !important;
    width: 410px !important;
    max-width: 700px;
    min-width: 700px;
    background-color:rgb(50, 50, 50);
    margin: unset;
    opacity:unset;
    padding: unset;
}

.contact {
    width: 600px;
    max-width: 600px;
    min-width: 600px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: space-evenly;
    margin: 0%;
}

#contactparaa {
    font-size: 20px;
    width: 680px;
    max-width: 680px;
    min-width: 680px;
    font-family: 'Nunito Sans', sans-serif;
    display: inline;
    color: azure;
    background-color: rgb(50, 50, 50); 
    margin-bottom: 10%;   
}

.GTL {
    right: 40px;
    top: 30px;
    position:absolute;
}

#GTLP {
    right: 100px;
    top: 30px;
    position:absolute;
    color: azure;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    border-radius: 1vw;
    padding: 0.5%;
    padding-top: 1%;
    font-family: 'Nunito Sans', sans-serif;
}